@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap");
:root {
  --primary-color: #cfb284;
  --secondary-color: #80788d;
  --card-background: #f9f6f0;
  --card-description: #272023;
  --card-header: #4f4449;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* header section */
.section-header {
  background-color: var(--primary-color);
  padding: 8rem;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 10rem;
}

.navigation__link {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  transition: all 0.3s;
  padding: 1rem;
  border-radius: 5px;
}

.navigation__link:hover {
  color: var(--primary-color);
  background-color: #fff;
}

.navbar__list {
  list-style: none;
  display: flex;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__text-box {
  width: 100%;
}
.header__img-box img {
  width: 50rem;
  height: 50rem;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.heading-primary--main {
  font-size: 8rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: 3px;
}

.heading-primary--sub {
  font-size: 3rem;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
}

.heading__text {
  color: #fff;
}

/* header section end*/

/* features section */
.section-features {
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 10rem;
}

.card {
  width: 45rem;
  height: 45rem;
  background-color: var(--card-background);
  border-radius: 1rem;
  margin: 10rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.card__logo {
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
}

.card__header {
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: 2.7rem;
  color: var(--card-header);
}

.card-description__text {
  font-weight: 300;
  font-size: 1.9rem;
  text-align: center;
  color: var(--card-description);
}

/* features section end */

/* about section*/

.section-about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.section-about__text {
  width: 50%;
}

.section-about__text h2 {
  font-size: 5rem;
  color: var(--primary-color);
  margin-bottom: 4rem;
}

.section-about__text p {
  font-size: 2rem;
  color: var(--card-description);
}

/* about section end*/

/* footer section*/
.footer {
  background-color: var(--secondary-color);
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__header {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #fff;
  margin-top: 5rem;
}

.footer__list {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
}

.footer__item {
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

.footer__item:nth-child(1) {
  font-weight: 400;
  margin-top: 1rem;
}

.footer__social-media-icons {
  margin: 2rem 0 4rem 0;
}

.icon {
  margin: 0 1.5rem;
  transition: all 0.3s ease-out;
}

.icon:hover img {
  transform: scale(1.15);
}

/* footer section end*/

/* media queries */

@media (max-width: 1573px) {
  .card {
    width: 35rem;
    height: 35rem;
  }

  .card__logo {
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
  }

  .card__header {
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 2rem;
    color: var(--card-header);
  }

  .card-description__text {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: var(--card-description);
  }
}

@media (max-width: 1295px) {
  html {
    font-size: 56.25%;
  }

  .row {
    flex-direction: column;
    justify-content: center;
  }
  .card {
    margin: 1rem 0;
    height: 28rem;
    width: 28rem;
  }
  .card__logo {
    width: 8rem;
    height: 8rem;
  }
  .card__header {
    font-size: 1.4rem;
  }
  .section-about img {
    display: none;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }

  .header__img-box {
    margin-bottom: 2rem;
  }
  .header__img-box img {
    width: 35rem;
    height: 35rem;
  }
  .header-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .heading-primary {
    max-width: 100%;
  }
  .heading-primary--main {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .section-header {
    height: auto;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar__heading {
    margin-bottom: 3rem;
  }
  .header__img-box {
    margin-bottom: 5rem;
  }

  .section-about__text {
    width: 100%;
  }
  .heading-primary {
    text-align: center;
    max-width: 100%;
  }
  .heading-primary--main {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  .section-about {
    text-align: center;
  }
}

/* media queries end */
