@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap');
:root{
    --primary-color:#CFB284;
    --secondary-color:#80788D;
    --card-background:#F9F6F0;
    --card-description:#272023;
    --card-header:#4F4449;
}
*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.section-header{
    background-color: var(--primary-color);
    padding: 8rem;
    width: 100%;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    margin-bottom:10rem;
}

.navigation__link{
    font-weight: 400;
    color:#fff;
    text-decoration: none;
    margin: 0 1rem;
    transition: all .3s;
    padding: 1rem;
    border-radius: 5px;
}

.navigation__link:hover{
    color:var(--primary-color);
    background-color: #fff;

    
}

.navbar__list{
    list-style: none;
    display: flex;
    
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.header{
    max-width: 60%;
}

.heading-primary{
    display: flex;
    flex-direction: column;
    
}

.heading-primary--main{
    font-size: 10rem;
    font-weight:800;
    color:#fff;
    letter-spacing: 3px;  
}

.heading-primary--sub{
    font-size: 3rem;
    font-weight: 100;
    color:#fff;
    letter-spacing: 2px;

}

.heading__text{
    color:#fff;
}

.section-features{
    background-color:var(--secondary-color);
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:0 10rem;
}

.card{
    width:35rem;
    height:35rem;
    background-color:var(--card-background);
    border-radius:1rem;
    margin:10rem 0rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.card__logo{
    margin-bottom:2rem;
}

.card__header{
    margin-bottom:2rem;
    font-weight:800;
    font-size:2.2rem;
    color:var(--card-header);
}

.card-description__text{
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    color:var(--card-description);
}


.footer{
    background-color:var(--secondary-color);
}
.footer__navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.footer__header{
    font-size: 3rem;
    font-weight: 600;
    color:#fff;
    text-decoration:underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #fff;
}
.footer__list{
    list-style:none;
    color:#fff;
    font-size: 2rem;
    font-weight: 100;
}
.footer__item{
    margin-bottom:1.5rem;
    letter-spacing: .5px;

}
.footer__item:nth-child(1){
    font-weight: 400;
    margin-top: 1rem;
}
.footer__social-media-icons{
    margin: 2rem;
}
.icon{
    margin:0 1.5rem ;
    transition: all .3s ease-out;
}
.icon:hover img{
    transform: scale(1.15);
}

